/* main */
body {
  --grey: #eee;
  --black: #282D33;
  --blue: #03547E;
  --light-blue: #B2E0FF;
  --yellow: #eb0;
  --red: #e00;
  color: var(--black);
}

.pageHeader {
  color: var(--blue);
  text-align: center;
  margin-top: 0;
}

.warning {
  color: var(--yellow);
}

.error {
  color: var(--red);
  margin: .4em
}

button {
  color: var(--light-blue);
  background-color: var(--blue);
  border: none;
  border-radius: 2px;
  font-size: 1.4em;
  padding: .2em
}

button:hover:enabled {
  cursor: pointer;
  color: var(--grey);
}

button:disabled {
  background-color: var(--grey);
  cursor: arrow;
}

input {
  font-size: 1.2em;
}

/* game  */
div.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.findGame, div.createGame {
  margin: 3em;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  min-width: 33%;
  border: 1px solid var(--blue);
  border-radius: 2px;
  padding: 1em 0;
}
div.createGame>button,div.findGame>button  {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
div.createGame input{
  margin: 1em;
}

/* play */
div.setupPhrase {
  background-color: var(--light-blue);
  color: var(--blue);
  font-size: 2em;
  padding: 1em 0;
}
div.directions {
  font-style: italic;
  font-size: 1.2em
}
div.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
div.punchline, div.vote {
  border: 2px solid var(--black);
  border-radius: 6px;
  padding: .6em;
  margin: 1em 0;
  flex-basis: 30%;
  font-size: 2em;
  overflow-wrap: break-word;
}

div.playerName {
  font-size: .6em;
  color: var(--blue);
}

input.customInput {
  width: 45%;
  background-color: var(--grey);
}

div.customPunchline {
  border: 2px solid var(--blue);
}

div.punchline:hover, div.vote:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

div.selected {
  background-color: var(--light-blue);
  color: var(--blue);
}

input.customInput {
  font-size: 1.4em
}

/* scores */
div.scores {
  text-align: left;
  width: 60%;
  margin: auto;
  line-height: 2
}

.total {
  font-size: 1.5em;
  background-color: var(--grey);
  padding: 0 1em;
}

span.setup {
  font-weight: 800;
}
span.player {
  font-style: italic;;
}
div.scoreBoard {
  text-align: center;
}

@media (max-width: 1024px) {
  div.scores {
    width: 90%;
  }
  div.cards {
    flex-direction: column;
  }
  div.game {
    flex-direction: column;
  }
}
